@font-face {
    font-family: 'serif';
    font-weight: 400;
    src: url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital@0;1&display=swap'),
  }

@font-face {
    font-family: 'sans-serif';
    font-weight: 300;
    src: url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap'),
  }  
  